//- index.pug
extends layout.pug

block content
  div
    h1 Suomi toplista
  div
    center
      table(class="ranks-table-head")
        thead
            tr
              th Sijoitus
              th HS Nickname 
              th HS rank
        tbody(class="ranks")
          each player, index in rank_list
              tr
                td #{index+1}
                td #{player.accountid}
                td #{player.rank}
    p Näyttää vain hearthstone classic top 200 pelaajat 
    p 
    | Jos olet suomalainen top 200 pelaaja ja nimesi puuttu listasta spammaa Roarrin 
    a(href='https://discord.gg/cxJmcSD') discordiin
