html 
  head
    style
      include style.css
    body
      div
        h1 suomi toplista
      div(class="container")
        center
          table(class="ranks-table")
            thead
                tr
                  th Account Id
                  th Rank
            tbody
              each player in rank_list
                  tr
                    td #{player.accountid}
                    td #{player.rank}